body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#editor-content {
    padding: 0;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.cm-editor {
    height: 100%;
    width: 100%;
    /*设置文字大小*/
    font-size: 20px;
}

.cm-content {
    line-height: 1.5;
}

.cm-vim-panel input {
    font-size: 20px;
    font-weight: bold;
}

.cm-vim-panel > span {
    font-weight: bold;
}

/*取消行号选择*/
/*设置鼠标为手型*/
.cm-gutters {
    user-select: none;
    cursor: pointer;
}
