**/target
**/jdbc.*

logs/**
logs

### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/**
**.iml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build-script/

### VS Code ###
.vscode/
/data/
/src/test/resources/parser_v4/node_modules/
/src/test/resources/parser_v4/yarn.lock
/src/test/resources/parser_v3/node_modules/
/src/test/resources/parser_v3/yarn.lock
