**/target
**/jdbc.*

logs/**
logs

### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/**
**.iml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build-script/

### VS Code ###
.vscode/
/ping-admin-app/data/ping_app.mv.db
/data/
*/node_modules/
*/node_modules/**
