#指定项目中lombok配置文件的根目录
config.stopBubbling = true

#默认生成链式set方法
lombok.accessors.chain=false
lombok.toString.doNotUseGetters=true

#默认log字段
lombok.log.fieldName=log

#禁用的日志控件
lombok.log.jbosslog.flagUsage=ERROR
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=ERROR
lombok.log.xslf4j.flagUsage=ERROR


#EqualsAndHashCode 方法
lombok.equalsAndHashCode.doNotUseGetters=true
lombok.equalsAndHashCode.callSuper=CALL

#禁用var
lombok.var.flagUsage=ERROR

#禁用sneakThrows
#lombok.sneakyThrows.flagUsage=ERROR

lombok.nonNull.exceptionType=IllegalArgumentException
