<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">

    <!--控制台-->
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5level}] %c{1}-%L: %highlight{%m%n}"/>
        </Console>
    </appenders>

    <!--输出json日志-->
    <!--    <appenders>-->
    <!--        <Console name="json" target="SYSTEM_OUT">-->
    <!--            <JsonLayout complete="false" compact="false">-->
    <!--                <KeyValuePair key="application" value="springboot-domain-starter"/>-->
    <!--                <KeyValuePair key="env" value="test"/>-->
    <!--            </JsonLayout>-->
    <!--        </Console>-->
    <!--    </appenders>-->

    <loggers>
        <logger name="org.springframework.test" level="info"/>
        <logger name="org.hibernate" level="info"/>
        <logger name="org.junit" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="org.springframework.data.repository" level="trace"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
        <logger name="org.hibernate.engine.QueryParameters" level="debug"/>
        <logger name="org.hibernate.engine.query.HQLQueryPlan" level="debug"/>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>
