<?xml version="1.0" encoding="UTF-8"?>

<!-- 配置文件修改时重新加载，默认true -->
<configuration scan="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="CATALINA_BASE" value="logs"/>

<!--    <property name="CONSOLE_LOG_PATTERN"-->
<!--              value="%highlight(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) [%X{RequestId}] %red([%thread]) %boldMagenta(%logger{50}) %highlight(%msg%n)"/>-->

    <property name="CONSOLE_LOG_PATTERN"
              value="%highlight(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %red([%thread]) %boldMagenta(%logger{50}) %highlight(%msg%n)"/>

    <contextName>ping-distribute</contextName>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </pattern>
        </encoder>
    </appender>

    <!-- 设置日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="INFO"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate.hql.internal.ast" level="INFO"/>
    <logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="INFO"/>
    <logger name="org.hibernate.hql.internal.ast.util.JoinProcessor" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="cn.procsl.ping" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
</configuration>
